.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: center;
    height: 80px;
    background-color: black;
}

.nav-links{
    margin-left: 10px;
    display: flex;
}
.links{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 80%;
    font-size: large;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color: white;
}

.links:hover{
    background-color: #fff;
    color: black;
}

.btn{
    border-radius: 10px;
    font-weight: 600;
    font-size: 20PX;
    color: #fff;
    padding: 5px 30px;
}
