.container {
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    /* box-shadow: 2px 2px 6px rgba(0,0,0,.3); */
    max-width: 600px;
    margin-top: 30px;
    margin: auto;
    justify-content: center;
}

.inp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input {
    background-color: rgb(206, 206, 206);
    width: 80%;
    border-radius: 6px;
    font-size: large;
    border: none;
}

button{
    background-color: rgb(194, 194, 194);
    font-weight: 700;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    margin: auto;
    display: block;
    margin-right: 15px;
    padding: 5px 15px;
    
}

button:hover{
    cursor: pointer;
    transform: scale(1.08);
    background-color: rgb(2, 134, 2);
    color: #fff;
}