.inicio-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}
h1{
    color: white;
    text-align: center;
    font-size: 40px;
}
p{
    max-width: 300px;
    margin: 15px;
    color: white;
    font-size: larger;

}