#comercios {
	min-height: 100vh;
	color: black;
}
.comerces-title {
	text-align: center;
	margin-top: 10vh;
	width: 560px;
	height: 230px;
	background-image: url(../../../assets/img/titles-round-2.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.comerces-title h1 {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	line-height: normal;
}
.comerces-subtitle {
	padding-top: 40px;
	width: 494px;
}
.comerces-subtitle p {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	text-align: left;
}
.commerces-background {
	margin-left: 15%;
	width: 70%;
}
