/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$font_type0: 800 96px/1.2 "Raleway", Helvetica, Arial, serif;
$font_type1: 500 32px/1.2 "Raleway", Helvetica, Arial, serif;
$font_type2: 500 24px/1.2 "Raleway", Helvetica, Arial, serif;
$font_type3: 20px/1.2 "Raleway", Helvetica, Arial, serif;

.section1_layout {
  position: relative;
  height: min-content;
}
.section1 {
  @include flex-column;
}
.group {
  @include flex-column;
}
.group_layout14 {
  position: relative;
  height: min-content;
}
.group_layout {
  position: absolute;
  top: 0px;
  height: min-content;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.rect {
  background-color: rgb(0, 0, 0);
}
.rect_layout {
  position: relative;
  height: 1023px;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.group_layout1 {
  position: absolute;
  top: 227px;
  height: min-content;
  bottom: 254px;
  left: 0px;
  right: 0px;
  width: 38.7%;
  margin: 0px 55.68% 0px 5.62%;
  @include lg {
    top: 178px;
    bottom: 199px;
  }
  @include md {
    top: 126px;
    bottom: 139px;
  }
  @include sm {
    top: 81px;
    bottom: 88px;
  }
  @include xs {
    top: 58px;
    bottom: 62px;
  }
  @include xxs {
    top: 36px;
    bottom: 37px;
  }
  @include tn {
    top: 21px;
    bottom: 19px;
  }
}
.img {
  background: var(--src) center center / contain no-repeat;
}
.img_layout {
  position: relative;
  height: 542px;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.group_layout2 {
  position: absolute;
  top: 272px;
  height: min-content;
  bottom: 200px;
  left: 0px;
  right: 0px;
  width: 38.7%;
  margin: 0px 40.27% 0px 21.03%;
  @include lg {
    top: 212px;
    bottom: 158px;
  }
  @include md {
    top: 148px;
    bottom: 113px;
  }
  @include sm {
    top: 93px;
    bottom: 74px;
  }
  @include xs {
    top: 65px;
    bottom: 54px;
  }
  @include xxs {
    top: 37px;
    bottom: 35px;
  }
  @include tn {
    top: 18px;
    bottom: 22px;
  }
}
.img_layout1 {
  position: relative;
  height: 551px;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.group_layout3 {
  position: absolute;
  top: 218px;
  height: min-content;
  bottom: 254px;
  left: 0px;
  right: 0px;
  width: 38.7%;
  margin: 0px 21.64% 0px 39.66%;
  @include lg {
    top: 172px;
    bottom: 199px;
  }
  @include md {
    top: 122px;
    bottom: 139px;
  }
  @include sm {
    top: 79px;
    bottom: 88px;
  }
  @include xs {
    top: 57px;
    bottom: 62px;
  }
  @include xxs {
    top: 36px;
    bottom: 37px;
  }
  @include tn {
    top: 21px;
    bottom: 19px;
  }
}
.img_layout2 {
  position: relative;
  height: 551px;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.group_layout4 {
  position: absolute;
  top: 266px;
  height: min-content;
  bottom: 200px;
  left: 0px;
  right: 0px;
  width: 38.7%;
  margin: 0px 6.37% 0px 54.93%;
  @include lg {
    top: 208px;
    bottom: 158px;
  }
  @include md {
    top: 145px;
    bottom: 113px;
  }
  @include sm {
    top: 91px;
    bottom: 74px;
  }
  @include xs {
    top: 64px;
    bottom: 54px;
  }
  @include xxs {
    top: 37px;
    bottom: 35px;
  }
  @include tn {
    top: 19px;
    bottom: 22px;
  }
}
.img_layout3 {
  position: relative;
  height: 557px;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.flex {
  display: flex;
  @include md {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}
.flex_layout {
  position: relative;
  height: min-content;
  width: 71.58%;
  margin: 83px 9.52% 892px 18.9%;
  @include lg {
    margin: 70px 9.52% 680px 18.9%;
  }
  @include md {
    margin: 56px 9.52% 450px 18.9%;
  }
  @include sm {
    margin: 44px 9.52% 253px 18.9%;
  }
  @include xs {
    margin: 38px 9.52% 154px 18.9%;
  }
  @include xxs {
    margin: 32px 9.52% 56px 18.9%;
  }
  @include tn {
    margin: 27px 9.52% 5px 18.9%;
  }
}
.flex_item {
  @include flex-column;
  position: relative;
  flex: 1 1 80px;
  @include md {
    flex: 0 0 100%;
  }
}
.group_layout5 {
  position: relative;
  height: min-content;
  margin: 10px 0px;
  @include lg {
    margin: 9px 0px;
  }
  @include md {
    margin: 7px 0px;
  }
  @include sm {
    margin: 6px 0px;
  }
  @include xxs {
    margin: 5px 0px;
  }
}
.txt {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type2, rgb(144, 255, 3), 0px);
  white-space: pre-wrap;
  @include lg {
    font-size: 22px;
    text-align: left;
  }
  @include md {
    font-size: 20px;
  }
  @include sm {
    font-size: 19px;
  }
  @include xs {
    font-size: 18px;
  }
  @include xxs {
    font-size: 17px;
  }
  @include tn {
    font-size: 16px;
  }
}
.txt_box {
  @include lg {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include md {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include sm {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include xs {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include xxs {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include tn {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.txt_box_layout {
  position: relative;
  height: min-content;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.flex_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 91px;
  @include md {
    display: none;
  }
}
.flex_item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 121px;
  @include md {
    flex: 0 0 100%;
  }
}
.group_layout6 {
  position: relative;
  height: min-content;
  margin: 10px 0px;
  @include lg {
    margin: 9px 0px;
  }
  @include md {
    margin: 7px 0px;
  }
  @include sm {
    margin: 6px 0px;
  }
  @include xxs {
    margin: 5px 0px;
  }
}
.txt1 {
  @include font-face($font_type2, rgb(255, 255, 255), 0px);
  @include lg {
    font-size: 22px;
    text-align: left;
  }
  @include md {
    font-size: 20px;
  }
  @include sm {
    font-size: 19px;
  }
  @include xs {
    font-size: 18px;
  }
  @include xxs {
    font-size: 17px;
  }
  @include tn {
    font-size: 16px;
  }
}
.txt1_layout {
  position: relative;
  height: min-content;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.flex_item2 {
  @include flex-column;
  position: relative;
  flex: 1 1 141px;
  @include md {
    flex: 0 0 100%;
  }
}
.group_layout7 {
  position: relative;
  height: min-content;
  margin: 10px 0px;
  @include lg {
    margin: 9px 0px;
  }
  @include md {
    margin: 7px 0px;
  }
  @include sm {
    margin: 6px 0px;
  }
  @include xxs {
    margin: 5px 0px;
  }
}
.txt2 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type2, rgb(255, 255, 255), 0px);
  white-space: pre-wrap;
  @include lg {
    font-size: 22px;
    text-align: left;
  }
  @include md {
    font-size: 20px;
  }
  @include sm {
    font-size: 19px;
  }
  @include xs {
    font-size: 18px;
  }
  @include xxs {
    font-size: 17px;
  }
  @include tn {
    font-size: 16px;
  }
}
.txt2_box {
  @include lg {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include md {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include sm {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include xs {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include xxs {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include tn {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.txt2_box_layout {
  position: relative;
  height: min-content;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.flex_item3 {
  @include flex-column;
  position: relative;
  flex: 1 1 180px;
  @include md {
    flex: 0 0 100%;
  }
}
.group_layout9 {
  position: relative;
  height: min-content;
}
.rect1 {
  background-color: rgb(144, 255, 3);
  border-radius: 10px 10px 10px 10px;
}
.rect1_layout {
  position: relative;
  height: 48px;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.group_layout8 {
  position: relative;
  height: min-content;
  margin: 14px 34px 11px 32px;
  @include lg {
    margin: 12px 30px 10px 28px;
  }
  @include md {
    margin: 10px 25px 8px 24px;
  }
  @include sm {
    margin: 9px 21px 7px 20px;
  }
  @include xs {
    margin: 8px 19px 6px 18px;
  }
  @include xxs {
    margin: 7px 17px 6px 16px;
  }
  @include tn {
    margin: 7px 15px 5px;
  }
}
.txt3 {
  @include h-center-content;
  font: $font_type3;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0px;
  @include lg {
    font-size: 19px;
    text-align: center;
  }
  @include md {
    font-size: 18px;
  }
  @include sm {
    font-size: 17px;
  }
  @include xxs {
    font-size: 16px;
  }
}
.txt3_layout {
  position: relative;
  height: min-content;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.flex_item4 {
  @include flex-column;
  position: relative;
  flex: 1 1 159px;
  @include md {
    flex: 0 0 100%;
  }
}
.group1 {
  @include flex-column;
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid rgb(144, 255, 3);
  border-radius: 10px 10px 10px 10px;
}
.group1_layout {
  position: relative;
  height: min-content;
  margin: 13px 0px 12px;
  @include lg {
    margin: 11px 0px;
  }
  @include md {
    margin: 10px 0px 9px;
  }
  @include sm {
    margin: 8px 0px;
  }
  @include xs {
    margin: 7px 0px;
  }
  @include xxs {
    margin: 7px 0px 6px;
  }
  @include tn {
    margin: 6px 0px;
  }
}
.txt4 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: $font_type3;
  color: rgb(229, 229, 229);
  text-align: center;
  letter-spacing: 0px;
  white-space: pre-wrap;
  @include lg {
    font-size: 19px;
    text-align: center;
  }
  @include md {
    font-size: 18px;
  }
  @include sm {
    font-size: 17px;
  }
  @include xxs {
    font-size: 16px;
  }
}
.txt4_box {
  @include h-center-content;
  @include lg {
    align-items: flex-start;
    justify-content: center;
  }
  @include md {
    align-items: flex-start;
    justify-content: center;
  }
  @include sm {
    align-items: flex-start;
    justify-content: center;
  }
  @include xxs {
    align-items: flex-start;
    justify-content: center;
  }
}
.txt4_box_layout {
  position: relative;
  height: min-content;
  margin: 10px 0px;
  @include lg {
    margin: 9px 0px;
  }
  @include md {
    margin: 7px 0px;
  }
  @include sm {
    margin: 6px 0px;
  }
  @include xxs {
    margin: 5px 0px;
  }
}
.group_layout10 {
  position: absolute;
  top: 263px;
  height: min-content;
  bottom: 534px;
  left: 0px;
  right: 0px;
  width: 22.4%;
  margin: 0px 65.89% 0px 11.71%;
  @include lg {
    top: 206px;
    bottom: 410px;
  }
  @include md {
    top: 143px;
    bottom: 275px;
  }
  @include sm {
    top: 90px;
    bottom: 160px;
  }
  @include xs {
    top: 64px;
    bottom: 103px;
  }
  @include xxs {
    top: 37px;
    bottom: 45px;
  }
  @include tn {
    top: 19px;
    bottom: 6px;
  }
}
.txt5 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type0, rgb(255, 255, 255), 0px);
  white-space: pre-wrap;
  @include lg {
    font-size: 83px;
    text-align: left;
  }
  @include md {
    font-size: 70px;
  }
  @include sm {
    font-size: 58px;
  }
  @include xs {
    font-size: 52px;
  }
  @include xxs {
    font-size: 46px;
  }
  @include tn {
    font-size: 42px;
  }
}
.txt5_box {
  @include lg {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include md {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include sm {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include xs {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include xxs {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include tn {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.txt5_box_layout {
  position: relative;
  height: min-content;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.group_layout11 {
  position: absolute;
  top: 493px;
  height: min-content;
  bottom: 399px;
  left: 0px;
  right: 0px;
  width: 37.95%;
  margin: 0px 50.34% 0px 11.71%;
  @include lg {
    top: 379px;
    bottom: 308px;
  }
  @include md {
    top: 255px;
    bottom: 210px;
  }
  @include sm {
    top: 150px;
    bottom: 125px;
  }
  @include xs {
    top: 97px;
    bottom: 83px;
  }
  @include xxs {
    top: 44px;
    bottom: 41px;
  }
  @include tn {
    top: 8px;
    bottom: 12px;
  }
}
.img1 {
  background: var(--src) center center / contain no-repeat;
  border-radius: 0px 0px 50px 0px;
}
.img1_layout {
  position: relative;
  height: 131px;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.group_layout12 {
  position: absolute;
  top: 510px;
  height: min-content;
  bottom: 399px;
  left: 0px;
  right: 0px;
  width: 36.51%;
  margin: 0px 51.03% 0px 12.47%;
  @include lg {
    top: 392px;
    bottom: 308px;
  }
  @include md {
    top: 264px;
    bottom: 210px;
  }
  @include sm {
    top: 154px;
    bottom: 125px;
  }
  @include xs {
    top: 99px;
    bottom: 83px;
  }
  @include xxs {
    top: 44px;
    bottom: 41px;
  }
  @include tn {
    top: 7px;
    bottom: 12px;
  }
}
.txt6 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type1, rgb(255, 255, 255), 0px);
  white-space: pre-wrap;
  @include lg {
    font-size: 29px;
    text-align: left;
  }
  @include md {
    font-size: 25px;
  }
  @include sm {
    font-size: 23px;
  }
  @include xs {
    font-size: 21px;
  }
  @include xxs {
    font-size: 20px;
  }
  @include tn {
    font-size: 19px;
  }
}
.txt6_box {
  @include lg {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include md {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include sm {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include xs {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include xxs {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include tn {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.txt6_box_layout {
  position: relative;
  height: min-content;
  margin: 10px;
  @include lg {
    margin: 9px;
  }
  @include md {
    margin: 7px;
  }
  @include sm {
    margin: 6px;
  }
  @include xxs {
    margin: 5px;
  }
}
.group_layout13 {
  position: absolute;
  top: 10px;
  height: min-content;
  bottom: 744px;
  left: 0px;
  right: 0px;
  width: 23.77%;
  margin: 0px 75.55% 0px 0.68%;
  @include lg {
    top: 9px;
    bottom: 568px;
  }
  @include md {
    top: 7px;
    bottom: 378px;
  }
  @include sm {
    top: 6px;
    bottom: 214px;
  }
  @include xs {
    bottom: 133px;
  }
  @include xxs {
    top: 5px;
    bottom: 51px;
  }
  @include tn {
    bottom: 5px;
  }
}
.img_layout4 {
  position: relative;
  height: 289px;
}
