#pasos {
  min-height: 100vh;
	color: black;
}
.steps-container {
	margin-right: 30px;
}
.steps-title {
  padding-top: 90px;
  padding-right: 40px;
	text-align: right; 
}
.steps-title h1 {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	line-height: normal;
	margin-bottom: 0;
}
.steps-title-underline {
  height: 70px;
}

.steps-background{
  background-image: url("../../../assets/img/steps-background.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 150vh;
}
