
@import './fonts.css';
body {
  /* background: linear-gradient(rgb(16, 1, 82),rgb(29, 20, 20)); */
  background-color: #eee;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary{
  background-color: #90FF03;
  color: black;
  border-color: #90FF03;
}
.btn-primary:hover{
  background-color:#90FF03;
  border-color:#90FF03;
  color:black
}
.btn-outline-primary{
  border-color: #90FF03;
}
.btn-outline-primary:hover{
  border-color: #90FF03;
  background-color: #90FF03;
  color: black;
}
.nav-link{
  color:whitesmoke;
}
.nav-link:hover{
  color:#90FF03;
}
   